@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$main-1: #ea2e5a;
$main-2: #8025d0;
$main-linear: linear-gradient(45deg, $main-1, $main-2);
$dark-linear: linear-gradient(#1e2330, #121926);

$color-1: linear-gradient(45deg, #f09e61, #ea3a58);
$color-2: linear-gradient(45deg, #ea315a, #7f25ce);

$light: #7f91bb;
$dark: #1f273a;